@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: black;
}

.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}
.bg-warning{
    background-color: black !important;
}
.copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

  .dadoinconsistente{
      border: 1px solid red !important;
  }
 
  .validacao{
    color:red !important;
    display: none;
  }
  .header-firstapp{
      position: relative;
      width: 100%;
      color: white;
  }
  .header-firstapp .navbar-nav{
      justify-content: center;
    display: flex;
    flex-direction: row;
  }

  .header-firstapp a{
      display: flex;
      justify-content: center;
      width: 400px;
      margin-top: 50px;
      font-size: 1.8rem;
      color: white;
  }

   .checked{
    border-bottom: 10px solid #341240;
  }
  thead{
      background-color: #514e52;
      color:white;
  }
  tbody{
      background-color: black;
      color: white;
  }
  .table-responsive-xl{
      margin-left: 50px;
      margin-right: 50px;
  }
  tr:hover td{
      color:#ce47ff;
      cursor: pointer;
  }
  h2,label{
      color: #ce47ff;
  }
  .espacamento{
      height: 100vh;
      position:relative;
      top:0;
      margin-left: 40px;
      margin-right: 40px;
  }
  .espaca{
      margin-bottom: 30px !important;
  }
  .ajeitasobre{
      position: relative;
      color: white;
      font-size: 2.0rem;
      margin-top: 100px;
      justify-content: center;
      margin-left: 40px;
      margin-right: 40px;
      display: flex;
      width: 100%;
  }
  .bg-info{
      display: flex;
      font-size: 20px;
      justify-content: center;
      background-color:#ce47ff !important;
  }