<%- contentFor( 'body' ) %>

    <div class="ajeitasobre">
        <img src="images/logo.svg" width="500"></img>

    </div>
    <div class="ajeitasobre">
        <section>Firt App é um aplicação web inspirada no código do professor <br>Wellington Wagner F. Sarmento O código
            desta aplicação está <a href='https://github.com/wwagner33/first-app2'>aqui</a></section>
        <br>
        <br>
        <br>
        <br>

    </div>