<%- contentFor( 'body' ) %>
    <div class="espacamento">
        <br>
        <br>
        <h2>Cadastrar novo usuário</h2>
        <br>
        <form>
            <div class="form-group">
                <label for="_name">Nome:</label>
                <input type="text" name="_name" id="_name" class="form-control espaca">
                <p class="validacao validacaonome">O nome deve ser preenchido !</p>
            </div>

            <div class="form-group">
                <label for="_address">Endereço:</label>
                <input type="text" name="_address" id="_address" class="form-control espaca">
                <p class="validacao validacaoendereco">O endereço deve ser preenchido !</p>
            </div>

            <div class="form-group">
                <label for="_email">E-mail:</label>
                <input type="email" name="_email" id="_email" class="form-control espaca">
                <p class="validacao validacaoemail">O email deve ser preenchido !</p>
            </div>



            <div class="form-group">
                <label for="_heigth">Altura:</label>
                <input type="number" name="_heigth" id="_heigth" class="form-control espaca money">
                <p class="validacao validacaoaltura">A altura deve ser preenchida !</p>
            </div>

            <div class="form-group">
                <label for="_age">Idade:</label>
                <input type="number" name="_age" id="_age" class="form-control">
                <p class="validacao validacaoidade">A idade deve ser preenchida !</p>
            </div>

            <div class="form-group">
                <label for="_vote">Votou:</label>
                <input type="text" name="_vote" id="_vote" class="form-control">
                <p class="validacao validacaovote">Se votou deve ser preenchido !</p>
            </div>

            <div class="form-group">
                <input type="button" onclick="add()" value="Enviar" class="btn btn-success">
            </div>

        </form>

    </div>